body{
  font-family: 'Roboto' , sans-serif;
  color: #131511;
  margin: 0;
  line-height: 1.6;

}

.site-header{
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100%;
}

#logo img{
  height: 31px;
  width: 30px;
}

a#logo{
  padding: 5px;
}

.main-navigation{
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: #FFFFFF;
}

.main-navigation a{
  display: block;
  color: #2B2F26;
  text-transform: uppercase;
  padding: 12px 30px;
}

.main-navigation a:hover{
  color: #CD5D67;
}


main{
  background-color: #f2f1e8;

}

img{
    float: left;
    height: 70px;
    margin-right: 20px;
    width: 15%;
    background-size: cover;
}

.tophead{
  padding-top: 10px;
}

.tophead h1{
  display: flex;
  justify-content: center;
}

.tophead a{
color: #968772;
}

.aside{
  padding-left: 10px;
  border-left: 2px solid #968772;
  font-weight: lighter;
  font-style: italic;
}

.banner{
  color: white;
  background-image: url(./images/background-3.jpg);
  display: flex;
  justify-content: center;
  height: 230px;
  font-size: -webkit-xxx-large;
  background-size: cover;
}
.banner p{
  padding-top: 25px;
}

.topcontainer{
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
}

.bottomcontainer{
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
}

.facilities{
  display: flex;
  flex-direction: row;
}

.facilities p{
  margin: 0;
  margin-right: 50px;
}

aside{
  display: flex;
  flex-direction: column;
  font-size: small;
  margin: 0;
}

.img{
  background-image: url(./images/background-1.jpg);
  background-size: cover;
  height: 100px;
  width: 100px;
}

aside p{
  display: flex;
  flex-direction: column;
}

.table{
  padding-bottom: 30px;
}

.table table, th, td{
  table-layout: fixed;
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

.table th:nth-child(3){
  width: 150%;
}

.table th, td{
  padding: 3px;
}

.table tr:nth-child(2){
  background-color: lightpink;
}

.table tr:nth-child(4){
  background-color: lightpink;
}

.main-navigation a:active{
  color: #968772;
}

.site-footer{
  background: #333;
  color: white;
  padding-bottom: 11px;
  padding-top: 17px;
  padding-left: 24px;
  width: 100%;
}
