body{
  font-family: 'Roboto' , sans-serif;
  color: #131511;
  margin: 0;

}

.site-header{
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100%;


}

#logo img{
  height: 31px;

}

a#logo{
  padding: 5px;
}

.main-navigation{
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: #FFFFFF;

}

.main-navigation a{
  display: block;
  color: #2B2F26;
  text-transform: uppercase;
  padding: 12px 30px;
}

.main-navigation a:hover{
  color: #CD5D67;
}

.main-navigation a:active{
  color: #968772;
}



div.tophead{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 85px;

}

h1{
  font-size: 4em;
}

h2{
  margin: -38px;
  font-size: 37px
}

main{
  background-color: #f2f1e8;

}

.grid{
  padding-top: 80px;

}

article.row1{
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  height: 290px;

}

article.row2{
  display: flex;
}

.product1{
  background-image: url(./images/product-1.jpg);
  color: white;
  flex-basis: 70%;
  margin-left: 15px;
  margin-right: 15px;
  background-size: cover;
  padding-top: 234px;

}



.product2{
  background-image: url(./images/product-2.jpg);
  color: white;
  flex-basis: 23%;
  margin-right: 15px;
  background-size: cover;
  padding-top: 234px;
}

.product3{
  background-image: url(./images/product-3.jpg);
  color: white;
  flex-basis: 23%;
  margin-right: 15px;
  background-size: cover;
  padding-top: 234px;
}

.product4{
  background-image: url(./images/product-4.jpg);
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  flex-basis: 22%;
  background-size: cover;
  padding-top: 190px;
}


.product5{
  background-image: url(./images/product-5.jpg);
  color: white;
  flex-basis: 22%;
  background-size: cover;
  padding-top: 190px;
}

.product5 h4{
   display: inline-flex;
 }

.product6{
  background-image: url(./images/product-6.jpg);
  color: white;
  flex-basis: 43%;
  margin-left: 15px;
  background-size: cover;
  padding-top: 190px;
}

.product7{
  background-image: url(./images/product-7.jpg);
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  flex-basis: 22%;
  background-size: cover;
  padding-top: 190px;
}

.row1 h4{
  background-color: #333;
  display: flex;
  margin: 0 0 15px 0;
  padding: 0 0 5px 0;
  width: 23%;
  justify-content: center;
  height: 62%;
  align-items: center;
}

.row2 h4{
  background-color: #333;
  display: flex;
  margin: 0 0 15px 0;
  padding: 0 0 5px 0;
  width: 47%;
  justify-content: center;
  width: 155px;
  height: 44px;
  align-items: center;
}




.site-footer{
  background: #333;
  color: white;
  padding-bottom: 11px;
  padding-top: 17px;
  padding-left: 24px;
  margin-top: 20px;
}
